* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --thm-color: #6e7673;
    --thm-color-rgb: 110, 118, 115;
    --thm-base: #49a760;
    --thm-base-rgb: 73, 167, 96;
    --thm-primary: #efb443;
    --thm-primary-rgb: 239, 180, 67;
    --thm-secondary: #ed4b4b;
    --thm-secondary-rgb: 237, 75, 75;
    --thm-special: #5366c2;
    --thm-special-rgb: 83, 102, 194;
    --thm-black: #255946;
    --thm-black-rgb: 37, 89, 70;
    --thm-black2: #1F4E3D;
    --thm-black2-rgb: 29, 28, 28;
    --thm-text-dark: #8e96a0;
    --thm-text-dark-rgb: 142, 150, 160;
    --main-padding: 50px;
    --main-text: #ffffff8c;
}

body {
    font-family: 'Inter', sans-serif;

}

.container-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Scroller  */
.scroller {
    position: fixed;
    left: 0;
    top: 0;
    height: 5px;
    background-color: rgb(11, 124, 11);
}

/* Scroller  */
.nav-custom {
    padding: 30px 10px;
}

.search-custom:focus {
    outline: none;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}




.navbar-brand img{
    width: 200px;
    height: 100px;
}
.nav-links ul{
  margin: 0 auto !important;
}
.nav-links ul li a {
    font-weight: 700 !important;
    color: #000000 !important;
}
.nav-links ul li a:hover{
  
    color: var(--thm-base) !important;
}
.nav-item{
    margin-left: 20px;
}
.dropdown-menu{
    background-color: #ffffff8c;;
    border-radius: 10px;
}
.dropdown-menu li{
    text-align: center;
    margin: 5px;
}
.search-custom{
    border: none;
    color: green;
    outline:none;
}
.search-custom i{
    font-size: 20px;
}

@media(max-width:991px) {
    .nav-links ul li {
        text-align: center;
    }
    .navbar-toggler{
        margin-right: 30px;

    }

}







.cover-slides {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 480px; /* Set your desired max height */
}

.cover-slides .img1{
   
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8)), url("../images/banner-01.jpg");
    min-height: 100vh;

}
.cover-slides .img2{
   
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8)), url("../images/banner-02.jpg");
    min-height: 100vh;

}
.cover-slides .img3{
   
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8)), url("../images/banner-03.jpg");
    min-height: 100vh;

}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1000px; /* Set your desired max width */
    transform: translate(-50%, -50%);
    text-align: center;
}

.carousel-caption h2 {
    color: #fff;
    font-weight: 700;
    font-size: 2.5em; /* Adjust font size for smaller screens */
}

.carousel-caption p {
    color: var(--main-text);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #000000 !important;
    color: white !important;
    padding: 20px;
}
section{
    margin: 80px 0;
}
.Card{
   

  
  
}
.cards{
}
.card-img{
    width : 350px;
    height: 300px;
   
    cursor: pointer;
}
.card-img img{
    width: 100%;
    height: 100%;
}
.cards h5 {
    text-align: center;
    background-color: #b0b435;
    padding: 15px 0;
    color: #fff;
    width: 350px;
    margin: 0 auto;
    position: relative;
}

.cards h5::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0px; 
    background-color: #000000e1;
    color: #fff ;   
   
    transition: all .3s ease-in-out; 
}

.cards h5:hover::after {
    width: 100%;
    height: 100%;

}






















.footer-section{
    padding: 50px;
    background-color: var(--thm-black)
}
.footer-about h4 , .footer-info h4 , .footer-contact h4{
    color: #fff;
    font-weight: 400px;
    color: #fff;
}
.footer-about p , .footer-info ul , .footer-contact ul{
    color: #ffffff8c;
    padding-top: 20px;
    width: 85%;
}
.footer-info ul , .footer-contact ul{
    
    padding: 20px 0;
}
.footer-info  ul li{
    margin-top: 5px;
}
.footer-info ul li i{
    font-size: 12px;
}
.footer-info ul li a , .footer-contact a{
    color: #ffffff8c;

}
.footer-info ul li a{
    transition: all .5s ease-in-out;
}
.footer-info ul li a:hover {
    margin-left:10px ;
    color: #fff;
}
.footer-about h4 , .footer-info h4 , .footer-contact h4{
    position: relative;

}
.footer-contact ul li p .email:hover , .footer-contact ul li p .phone:hover{
    color: #fff;
   

}
.footer-about h4::after , .footer-info h4::after , .footer-contact h4::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 60%;
    height: 2px;
    background-color: #fff;
}
.footer-copyright{
    background-color: var(--thm-black2);
    padding: 30px 0px;

}
.footer-copyright p {
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.footer-icon-custom {
    margin-right: 15px;
}

.footer-copyright p {
    text-align: center;
}