* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --thm-color: #6e7673;
  --thm-color-rgb: 110, 118, 115;
  --thm-base: #49a760;
  --thm-base-rgb: 73, 167, 96;
  --thm-primary: #efb443;
  --thm-primary-rgb: 239, 180, 67;
  --thm-secondary: #ed4b4b;
  --thm-secondary-rgb: 237, 75, 75;
  --thm-special: #5366c2;
  --thm-special-rgb: 83, 102, 194;
  --thm-black: #255946;
  --thm-black-rgb: 37, 89, 70;
  --thm-black2: #1f4e3d;
  --thm-black2-rgb: 29, 28, 28;
  --thm-text-dark: #8e96a0;
  --thm-text-dark-rgb: 142, 150, 160;
  --main-padding: 50px;
  --main-text: #ffffff8c;
}

body {
  font-family: "Inter", sans-serif;
}

.container-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Scroller  */
.scroller {
  position: fixed;
  left: 0;
  top: 0;
  height: 5px;
  background-color: rgb(11, 124, 11);
}

/* Scroller  */
.nav-custom {
  padding: 30px 10px;
}

.search-custom:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.ahmed {
  height: 100vh;
}
nav {
  padding: 20px 0 !important;
  position: fixed !important;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
}
/* nav::after {
  background-image: url("../images/ripped-paper-header-1.png");
  background-size: cover;
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  z-index: 5;
  background-repeat: no-repeat;
  height: 16px;
} */

.nav-links ul {
  margin: 0 auto !important;
}
.nav-links ul li {
  margin-left: 15px;
}
.nav-links ul li a {
  font-weight: 700 !important;
  color: #000000 !important;
  font-size: 18px;
}
.nav-links ul li a:hover {
  color: var(--thm-base) !important;
}
.search-custom {
  border: none;
  color: green;
  outline: none;
  background: none;
}
.search-custom i {
  font-size: 22px;
}
.search-inp {
  border-radius: 25px;
  padding: 12px 10px;
}
.search-inp:focus {
  box-shadow: none !important;
}
.navbar-brand img {
  width: 200px;
  height: 100px;
}
.dropdown-menu {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;

  padding: 10px 20px;
}
.dropdown-menu li {
  padding: 0 !important;
  margin: 0 !important;
}
.dropdown-item {
  padding: 0 !important;
}

/* stard slide */
.cover-slides {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 480px; /
}

.cover-slides .img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../images/banner-01.jpg");
  min-height: 100vh;
}
.cover-slides .img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../images/banner-02.jpg");
  min-height: 100vh;
}
.cover-slides .img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../images/banner-03.jpg");
  min-height: 100vh;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1000px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-caption h2 {
  color: #fff;
  font-weight: 700;
  font-size: 45px;
  
}

.carousel-caption p {
  color: var(--main-text);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #000000 !important;
  color: white !important;
  padding: 20px;
}
/* end slide */


/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
  font-weight: bold;
}
.footer .box .social {
  display: flex;
  padding: 0;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: 0.5s;
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: 0.5s;
  width: 90%;
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: 0.5s;
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--thm-base);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  margin-right: 10px;
  color: var(--thm-base);
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* End Footer */



.about{
   background-image: url('../images/rice-plant-sunset-valencia-with-plantation-1.jpg');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  
}
